@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: #cbafff7e;
}

.question-text{
    color: royalblue; 
}

ul{
    padding: 10px;
}

.button-elem{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border-color: #a882ee;
}